//Imports
@import "variables.scss";

//----------------------------------------------------
//                    SCROLLBAR
//----------------------------------------------------

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.4);
  &:hover{
    background: rgba(0,0,0,0.5);
  }
}

//----------------------------------------------------
//                    GENERALS
//----------------------------------------------------
.services-section{
  background: none;
}

h1,h2,h3,h4,h5,h6{
  font-family: $font-family-serif-r;
}
body{
  font-family: $font-family-serif-r;
  overflow-x: hidden;
}
.hidden {
  display: none;
}

.page-cover{
  .page-cover-img{
    width: 100%;
    min-height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .page-title{
      margin: 15vh auto 0 auto;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .page-lead{
      padding: 20px 0 20px 0;
      color: #ffffff;
    }
  }
}

.full-cover{
  .full-cover-img{
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    .page-title{
      margin: 15vh auto 0 auto;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .page-lead{
      padding: 20px 0 20px 0;
      color: #ffffff;
    }
  }
}

//----------------------------------------------------
//                    NAVBAR
//----------------------------------------------------

.navigation {
  transition: box-shadow 0.3s ease-in-out;
  position: fixed;
  left: 0;
  right: 0;
  padding: 0 10px;
  background-color: #ffffff;
  z-index: 1030;
  .logo {
    float: left;
    padding: 8px;
    margin: 7px 15px 10px 0;
    a{
      color: #000;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 18px;
      letter-spacing: 0px;
      text-decoration: none;
    }
  }
  .nav-wrapper{
    ul{
      float: right;
      margin: -10px 0 0 0;
      li{
        display: inline-block;
        float: left;
        margin: 0 15px;
        a{
          display: inline-block;
          outline: none;
          color: #000;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 14px;
          letter-spacing: 1.2px;
          font-weight: 400;
          &:hover{
            transition: 0.2s ease-in-out;
            color: #777777;
            cursor: pointer;
          }
          i{
            font-size: 16px;
            .badge{
              color: #ffffff;
              background-color: $orange;
              border: 1px solid #f1f1f1;
              padding: 3px 5px;
              font-size: 16px;
              font-weight: 100;
            }
          }
          &:active{
            transition: 0.1s ease-in-out;
            transform: scale(0.9);
          }
        }
      }
    }
  }
}

.shrunk{
  transition: 0.2s ease-in-out;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2);
}

//----------------------------------------------------
//                    SHOPPING BASKET
//----------------------------------------------------
.shopping-cart-wrapper{
  transition: all 0.2s ease-in-out, right 0.3s ease-in-out;
  z-index: 10000;
  position: fixed;
  top: 65px;
  right: -100vw;
  padding: 0;
  margin: 0;
  min-width: 450px;
  max-width: 500px;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);
  .shopping-cart-container{
    background-color: #ffffff;
    padding: 10px 15px;
    .shopping-cart-title{
      width: 100%;
      padding: 10px 0;
      margin: 0 0 10px 0;
      border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    #basket-m{
      display: none;
      position: absolute;
      top: 0;
      right: 10px;
      background-color: rgba(0,0,0,0);
      color: #000000;
      border: none;
      font-size: 25px;
      padding: 0 5px 12px 0;
      font-weight: 900;
      &:focus{
        outline: none;
      }
    }
    .shopping-items{
      list-style-type: none;
      padding: 0;
      margin: 10px 0 10px 0;
      max-height: 60vh;
      overflow-y: auto;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        display: none;
      }
      .shopping-item{
        color: #000;
        border-bottom: 1px dotted rgba(0,0,0,0.2);
        margin: 0 0 10px 0;
        .asking-food-img{
          width: 100%;
          max-height: 75px;
          object-fit: contain;
        }
        .asking-food-desc{
          color: #000000;
          &:hover{
            color: $orange;
          }
        }
        .asking-food-price{
          margin: 0;
          padding: 10px 0;
          text-transform: capitalize;
          span{
            text-transform: none;
            font-weight: 900;
            color: #333333;
          }
        }
        .asking-food-qty{
          transition: width 0.2s ease-in-out;
          float: right;
          margin: 0;
        }
        .asking-food-remove{
          transition: 0.2s ease-in-out;
          width: 100%;
          background-color: #d9534f;
          border: none;
          border-radius: 5px;
          color: #ffffff;
          &:hover{
            transition: 0.2s ease-in-out;
            cursor: pointer;
            background-color: #c9302c;
          }
          &:focus{
            outline: none;
          }
          &:active{
            transition: 0.1s ease-in-out;
            transform: scale(0.9);
          }
        }
      }
    }
    .shopping-bottom-section{
      padding: 0 0 5px 0;
       .total-txt{
         color: #333333;
       }
      .total-price{
        color: rgba(223,150,45,1);;
        font-weight: 900;
      }
      .go-to-checkout{
        button{
          transition: 0.2s ease-in-out;
          border: none;
          border-radius: 5px;
          width: 100%;
          background-color: $orange;
          padding: 5px 10px;
          color: #ffffff;
          &:hover{
            transition: 0.2s ease-in-out;
            background-color: rgba(223,150,45,1);
            cursor: pointer;
          }
          &:focus{
            outline: none;
          }
          &:active{
            transition: 0.1s ease-in-out;
            transform: scale(0.9);
          }
        }
      }
    }
  }
}

.shopping-cart-show{
  transition: right 0.3s ease-in-out;
  right: 0;
}

//----------------------------------------------------
//                   HOME PAGE
//----------------------------------------------------

//----------------------------------------------------
//                    SPECIALS SECTION
//----------------------------------------------------

.specials-section{
  background-repeat: repeat;
  background-color: #ffffff;
  border-top: 3px solid $orange;
  border-bottom: 3px solid $orange;
  .special-item{
    background-color: rgba(255,255,255,0.5);
    .special-item-img-container{
      transition: transform 0.2s ease-in-out;
      transform: scale(0.95);
      .special-item-img{
        width: 100%;
        height: 320px;
        object-fit: cover;
      }
    }
    .special-item-overlay-container{
      transition: 0.2s ease-in-out;
      transition-delay: 0.2s;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: rgba(0,0,0,0.6);
      color: #ffffff;
      .special-item-overlay{
        opacity: 0;
        padding: 10px 20px 0 20px;
        .special-item-title{
          color: #ffffff;
          text-align: center;
          font-weight: 600;
          padding: 10px 0;
        }
        .special-item-desc{
          font-style: italic;
          font-size: 16px;
          font-weight: 200;
          min-height: 100px;
          max-height: 140px;
          overflow-y: auto;
          overflow-x: hidden;
          &::-webkit-scrollbar-thumb {
            background: rgba(255,255,255,1);
            &:hover{
              background: rgba(255,255,255,0.7);
            }
          }
        }
        .special-item-info{
          background-color: #000000;
          display: none;
          position: absolute;
          bottom: 0;
          left: 15px;
          right: 0;
          width: 100%;
          height: 20%;
          .special-item-price{
            color: #f1f1f1;
            padding: 0 0 0 10px;
            margin: 0;
          }
          .special-item-link{
            transition: 0.2s ease-in-out;
            background-color: rgba(223,150,45,1);
            color: #ffffff;
            padding: 10px 15px;
            border-radius: 5px;
            margin: 0 0 5px 0;
            i{
              font-size: 20px;
            }
            &:hover{
              transition: 0.2s ease-in-out;
              background-color: rgba(203,130,25,1);
            }
          }
        }
      }
    }
    &:hover{
      .special-item-img-container{
        transition: transform 0.2s ease-in-out;
        transform: scale(1);
      }
      .special-item-overlay-container{
        transition: 0.2s ease-in-out;
        width: 100%;
        .special-item-overlay{
          transition: opacity 0.2s ease-in-out;
          transition-delay: 0.2s;
          opacity: 1;
          .special-item-info{
            display: flex;
          }
        }
      }
    }
  }
}


//----------------------------------------------------
//                    MENU PAGE
//----------------------------------------------------

//----------------------------------------------------
//                    MENU LIST
//----------------------------------------------------

.menu-list-section{
  padding: 100px 0 80px 0;
  .menu-list-section-title{
    padding: 0 0 30px 0;
  }
  .menu-category-list{

    .menu-category-item{

      .menu-category-link{
        text-transform: uppercase;
        color: #000;
        font-weight: 400;
        border: 2px solid transparent;
        border-radius: 150px;
        margin: 0 5px;
      }
      .active{
        color: #000;
        background-color: #ffffff;
        border: 2px solid #000000;
        border-radius: 150px;
      }
    }
  }
  .menu-list-items-container{
    .menu-list-item{
      transition: 0.3s ease-in-out;
      width: 100%;
      .menu-list-item-card-img{
        transition: 0.2s ease-in-out;
        width: 100%;
        max-height: 300px;
        min-height: 250px;
        object-fit: cover;
        &:hover{
          transition: 0.2s ease-in-out;
          cursor: pointer;
          transform: scale(1.02);
        }
      }
      .menu-list-item-card-body{
        padding: 10px 0 0 0;
        .menu-list-item-card-title{
          text-align: center;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 20px;
        }
        .menu-list-item-card-desc-container{
          max-height: 100px;
          overflow-y: auto;
          overflow-x: hidden;
          padding: 0 15px;
          .menu-list-item-card-desc{
            text-align: center;
            font-weight: 300;
            text-transform: lowercase;
          }
        }
        .menu-list-item-card-add-btn-container{
          padding: 0 16px 16px 16px;
          .menu-list-item-card-add-btn{
            transition: 0.2s ease-in-out;
            width: 100%;
            background-color: $orange;
            padding: 10px 15px;
            color: #ffffff;
            font-weight: 800;
            text-transform: uppercase;
            &:hover{
              transition: 0.2s ease-in-out;
              cursor: pointer;
              background-color: #CA8227;
            }
            &:active{
              transition: 0.2s ease-in-out;
              transform: scale(0.95);
            }
          }
        }
      }
      &:hover{
        transition: 0.3s ease-in-out;
        box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.2);
      }
    }
    .button {
      background: #428bca;
      padding: 1em 2em;
      color: #fff;
      border: 0;
      border-radius: 5px;
      cursor: pointer;
    }

    .button:hover {
      background: #3876ac;
    }


  }
}
//----------------------------------------------------
//                    MENU MODAL
//----------------------------------------------------
.menu-modal {
  display: none;
  position: fixed;
  z-index: 1900;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  .menu-modal-content {
    background-color: #ffffff;
    margin: auto;
    width: 50%;
    min-height: 60vh;
    height: auto;
    box-shadow: 0 8px 20px -4px rgba(0, 0, 0, 0.2);
    animation-name: modalopen;
    animation-duration: 0.5s;
    .menu-item-modal-img-container{
      width: 100%;
      height: 60vh;
      overflow: hidden;
      .menu-item-modal-img{
        object-fit: cover;
        height: 100%;
      }
      .menu-modal-close{
        z-index: 10000;
        transition: 0.3s ease-in-out;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #ffffff;
        color: #000000;
        padding: 0 10px;
        font-size: 20px;
        border-radius: 0;
        border: none;
        &:hover{
          cursor: pointer;
        }
        &:focus{
          outline: none;
        }
        &:active{
          transition: 0.3s ease-in-out;
          transform: scale(0.9);
        }
      }
    }
    .menu-item-modal-info-container{
      .menu-item-modal-title-container{
        padding: 30px 20px 20px 20px;
        .menu-item-modal-title{
          padding-bottom: 10px;
          font-weight: 300;
          text-transform: uppercase;
          border-bottom: 3px solid $orange;
        }
        .menu-modal-close{
          z-index: 10000;
          transition: 0.3s ease-in-out;
          position: absolute;
          top: 0;
          right: 0;
          background-color: #ffffff;
          color: #000000;
          padding: 0 10px;
          font-size: 20px;
          border-radius: 0;
          border: none;
          &:hover{
            cursor: pointer;
          }
          &:focus{
            outline: none;
          }
          &:active{
            transition: 0.3s ease-in-out;
            transform: scale(0.9);
          }
        }
      }
      .menu-item-modal-desc-container{
        padding: 0 20px 20px 20px;
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        .menu-item-modal-desc{

        }
      }
      .menu-item-modal-allergies-container{
        padding: 20px;
        .menu-item-modal-allergies-title{
          display: inline;
        }
        .menu-item-modal-allergies-list{
          list-style-type: none;
          display: inline;
          .menu-item-modal-allergies-item{
            display: inline;
            .menu-item-modal-allergy{

            }
          }
        }
      }
      .menu-item-modal-options-container{
        .menu-item-modal-options{
          width: 100%;
          border: 1px solid #ced4da;
          border-radius: 3px;
          color: #495057;
          height: 40px;
          padding: 0 0 0 10px;
          &:focus{
            outline: none;
          }
        }
      }
      .menu-item-modal-qty-container{
        .menu-item-modal-qty{
          width: 100%;
          border: 1px solid #ced4da;
          border-radius: 3px;
          color: #495057;
          height: 40px;
          padding: 0 0 0 10px;
          &:focus{
            outline: none;
          }
        }
      }
      .menu-item-modal-price-container{
        .menu-item-modal-price{
          color: #000000;
          font-size: 25px;
          font-weight: 600;
          text-align: center;
        }
      }
      .menu-item-modal-order-container{
        .menu-item-modal-order{
          button{
            width: 100%;
            background-color: $orange;
            color: #ffffff;
            border: none;
            border-radius: 3px;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 10px 0;
            &:hover{
              cursor: pointer;
            }
            &:focus{
              outline: none;
            }
          }
        }
      }
    }
  }
}
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


//----------------------------------------------------
//                    BLOG VIEW PAGE
//----------------------------------------------------


//----------------------------------------------------
//                    BLOG VIEW ITEMS
//----------------------------------------------------
.blog-view-section{
  .blog-item{
    background-color: #ffffff;
    box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.2);
    overflow: hidden;
    .blog-item-link{
      .blog-item-link-img{
        transition: 0.3s ease-in-out;
        width: 110%;
        height: 300px;
        object-fit: cover;
        &:hover{
          transition: 0.3s ease-in-out;
          width: 100%;
        }
      }
    }
    .blog-item-body{
      padding: 20px;
      .blog-item-body-title{
        font-weight: 300;
        .blog-item-body-title-link{
          &:hover{

          }
        }
      }
      .blog-item-body-date{
        .fa-calendar{
          padding: 0;
        }
        .blog-item-body-date-span{
          padding: 0 0 0 10px;
        }
      }
      .blog-item-body-description{

      }
      .blog-item-body-read-link{
        .blog-item-body-read{
          transition: 0.2s ease-in-out;
          width: 100%;
          background-color: $orange;
          border: none;
          border-radius: 3px;
          padding: 5px 0;
          color: #ffffff;
          text-transform: uppercase;
          &:hover{
            cursor: pointer;
          }
          &:focus{
            outline: none;
          }
          &:active{
            transition: 0.2s ease-in-out;
            transform: scale(0.95);
          }
        }
      }
    }
  }
}


//----------------------------------------------------
//                    BASKET PAGE
//----------------------------------------------------

.address-section{
  padding: 150px 0 50px 0;
  .a-s{
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    .address-input{
      width: 100%;
      border: 1px solid #ced4da;
      border-radius: 5px;
      color: #495057;
      height: 40px;
      padding: 0 0 0 10px;
      &:focus{
        outline: none;
      }
    }
    .address-map-container{
      margin-top: 20px;
      height: 300px;
      width: 100%;
      background-color: #7a869d;
      border-radius: 5px;
    }
    .address-hr{

    }
    .address-saved-locations{

    }
  }
}

.basket-section{
  .b-s{
    background-color: #ffffff;
    padding: 0 15px;
    border-radius: 5px;
    .basket-title{
      font-weight: 300;
      padding: 20px 0 20px 0;
      margin: 0;
      span{
        font-weight: 600;
        letter-spacing: 5px;
      }
    }
    .basket-cart-container{
      padding: 10px 15px;
      border-top: 1px dotted rgba(0,0,0,0.2);
      border-bottom: 1px dotted rgba(0,0,0,0.2);
      background-color: rgba(0,0,0,0.01);
      .basket-cart-item-list{
        list-style-type: none;
        padding: 0;
        margin: 0;
        .basket-cart-item{
          border: 1px solid rgba(0,0,0,0.1);
          background-color: rgba(255,255,255,0.1);
          box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.1);
          padding: 10px 15px;
          border-radius: 5px;
          margin: 10px 0;
          .basket-cart-item-img{
            width: 100%;
            height: 60px;
            object-fit: contain;
          }
          .basket-cart-item-desc{
            color: #0b0b0b;
          }
          .basket-cart-item-price{
            font-size: 20px;
            font-weight: 600;
            color: #0b0b0b;
          }
          .basket-cart-item-qty{
            width: 100%;
            border: 1px solid #ced4da;
            border-radius: 5px;
            color: #495057;
            height: 30px;
            padding: 0 0 0 10px;
            &:focus{
              outline: none;
            }
          }
          .basket-cart-item-remove{
            transition: 0.2s ease-in-out;
            width: 100%;
            background-color: #d9534f;
            border: none;
            border-radius: 5px;
            color: #ffffff;
            min-width: 30px;
            &:hover{
              transition: 0.2s ease-in-out;
              cursor: pointer;
              background-color: #c9302c;
            }
            &:focus{
              outline: none;
            }
            &:active{
              transition: 0.1s ease-in-out;
              transform: scale(0.9);
            }
          }
        }
      }
    }
    .basket-checkout-container{
      padding: 10px 15px;
      .checkout-box{
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 5px;
        padding: 10px;
        .checkout-price{
          text-align: center;
          padding: 20px 0 30px 0;
          margin: 0;
          font-weight: 800;
          letter-spacing: 2px;
          span{
            font-size: 25px;
          }
        }
        .checkout-hr{
          margin: 0;
          border-top: 1px solid rgba(0,0,0,0.2);
        }
        .checkout-delivery-container{
          .checkout-delivery{
            white-space: nowrap;
            float: left;
          }
          .checkout-delivery-value{
            float: right;
            color: #00A65A;
            font-weight: 600;
          }
        }
        .checkout-dds-container{
          .checkout-dds{
            white-space: nowrap;
            float: left;
          }
          .checkout-dds-value{
            float: right;
            color: #0b0b0b;
            font-weight: 600;
          }
        }
        .checkout-order-container{
          .checkout-order{
            transition: 0.2s ease-in-out;
            width: 100%;
            background-color: $orange;
            border: none;
            border-radius: 5px;
            padding: 5px;
            color: #ffffff;
            font-size: 25px;
            font-weight: 500;
            &:hover{
              transition: 0.2s ease-in-out;
              cursor: pointer;
              background-color: $orange;
            }
            &:focus{
              outline: none;
            }
            &:active{
              transition: 0.1s ease-in-out;
              transform: scale(0.9);
            }
          }
        }
      }
    }
  }
}


@import "responsive.scss";