@media screen and (max-width: 768px) {
  .navigation{
    background-color: #ffffff;
    .logo {
      padding: 0;
    }
    .nav-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1000;
      background: #fff;
      opacity: 0;
      display: none;
      transition: all 0.2s ease;
      ul{
        padding: 0;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        li{
          display: block;
          float: none;
          text-align: right;
          margin-bottom: 10px;
          &:not(:first-child){
            margin-left: 0;
          }
          a{
            padding: 10px 24px;
            opacity: 0;
            color: #000;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1.2px;
            transform: translateX(-20px);
            transition: all 0.2s ease;
          }
        }
      }
    }
    .nav-btn {
      position: fixed;
      right: 10px;
      top: 3px;
      display: block;
      width: 48px;
      height: 48px;
      cursor: pointer;
      z-index: 9999;
      i{
        display: block;
        width: 20px;
        height: 2px;
        background: #000;
        border-radius: 2px;
        margin-left: 14px;
        &:nth-child(1) {
          margin-top: 16px;
        }
        &:nth-child(2) {
          margin-top: 4px;
          opacity: 1;
        }
        &:nth-child(3) {
          margin-top: 4px;
        }
      }
    }
    #nav:checked + .nav-btn {
      transform: rotate(45deg);
      i{
        background: #000;
        transition: transform 0.2s ease;
        &:nth-child(1) {
          transform: translateY(6px) rotate(180deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-6px) rotate(90deg);
        }
      }
    }
    #nav:checked ~ .nav-wrapper {
      display: block;
      z-index: 9990;
      opacity: 1;
    }
    #nav:checked ~ .nav-wrapper ul li a {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .shopping-cart-wrapper{
    top: 49px;
  }
  .shopping-cart-wrapper{
    transition: all 0.2s ease-in-out;
    position: fixed;
    top: 0;
    right: -1000px;
    padding: 0;
    margin: 0;
    min-width: 100vw;
    max-width: 100vw;
    box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.2);
    .shopping-cart-container{
      background-color: #ffffff;
      padding: 10px 15px;
      .shopping-cart-title{
        padding: 10px 0;
        margin: 0 0 10px 0;
        border-bottom: 1px solid rgba(0,0,0,0.1);
      }
      .shopping-items{
        list-style-type: none;
        padding: 0;
        margin: 10px 0 10px 0;
        max-height: 60vh;
        overflow-y: auto;
        overflow-x: hidden;
      }
      .shopping-bottom-section{
        padding: 10px 0;
      }
    }
  }
  .shopping-cart-show{
    transition: right 0.2s ease-in-out;
    right: 0;
  }
  .specials-section{
    .special-item{
      .special-item-overlay-container{
        width: 100%;
        .special-item-overlay{
          opacity: 1;
          .special-item-info{
            display: flex;
          }
        }
      }
    }
  }
}

//@media screen and (max-width: 768px){
//
//}
